/******************** STYLE APPLICABLE IF SalesForce Header Enabled **********************************************/
.SFHeader .leftPanel {
    top: 193px;
    left: 10px;
}

.SFHeader .topPanel {
    left: 10px;
    right: 10px;
}

.SFHeader .input-group-btn .btn {
    margin-top: 0;
}

.SFHeader .calendarPane {
    padding-left: 236px;
}

.SFHeader .calendarHeaderGroup {
    left: 262px;
    right: 24px;
}

/************************************ SFHeader Styles End ********************************************************/ 
        .globalContainer {
            padding: 0 5px;
        }

        .topPanel {
            /*display: none;*/
            left: 0;
            right: 0;
            padding: 15px 5px;
            position: fixed;
            background: #FFF;
            z-index: 999;
        }

        .topPanel label {
            padding-top: 4px;
            float: left;
            font-size: 13px;
        }

        .topPanel select {
            padding: 3px 1px;
            height: 30px;
        }

        .secSortBy {
            /*margin-left: 30px;*/
            min-width: 191px;
        }

        .secSelecView {
            min-width: 164px;
        }

        .secRangeSpec {
            min-width: 265px;
        }

        .secRangeSpec label {
            float: none;
        }

        .secRangeSpec .fa {
            border-radius: 3px;
            padding: 7px 4px;
            border: 1px solid #aaa;
            cursor: pointer;
        }

        #exportBtn {
            height: 30px;
            width: 100%;
            padding: 0 5px;
            font-weight: bold;
        }

        .topPanel .fa-home {
            margin-left: 15px;
            font-size: 30px;
        }

        .calendarPane {
            margin-top: 58px;
            padding-left: 250px;
        }

        .calendarPane.fullWidth {
            padding-left: 10px;
        }

        .calendarInnerContainer {
            border: 2px solid #ccc;
            overflow: hidden;
        }

        .fixed {
            position: fixed;
        }

        .marginTop10 {
            margin-top: 10px;
        }

        .marginLeft15 {
            margin-left: 15px;
        }

        .calendarHeaderGroup {
            border-top: 2px inset #FFF;
            position: fixed;
            right: 7px;
            left: 257px;
            z-index: 99;
        }

        .calendarPane.fullWidth .calendarHeaderGroup {
            left: 18px;
        }

        .calendarHeaderGroup.expaneLeft {
            left: 17px;
        }

        .taskContainer {
            margin-top: 80px;
        }

        .yearHeader {
            background: #F6F6F6;
            text-align: center;
            padding: 4px 0;
            border-bottom: 1px solid #B7B5A9;
            font-weight: bold;
        }

        .yearHeader a {
            display: inline-block;
            color: #337ab7;
            font-size: 19px;
            text-decoration: none;
            margin: 0 15px;
            /* padding: 0px; */
        }

        .monthsHeader {
            background: #F6F6F6;
            font-weight: bold;
        }

        .monthCell {
            padding: 10px 0;
            text-align: center;
        }

        .monthCell + .monthCell {
            border-left: 1px solid #B7B5A9;
        }

        .taskRow {
            height: 55px;
            border-bottom: 1px solid #aaa;
        }

        .taskCell {
            border-radius: 3px;
            padding: 2px 5px;
            overflow: hidden;
            height: 45px;
            margin-top: 5px;
            text-align: center;
        }

        .taskCell div {
            overflow: hidden;
        }

        #srchTxtBox {
            padding-right: 20px;
        }

        #srchTxtBox::-ms-clear {
            display: none;
        }

        #srchBtn {
            width: 30px;
            height: 30px;
            background: url("../img/CalendarSprite.png") 4px -467px no-repeat;
            border: 1px solid #ccc;
        }

        #srchResetBtn {
            position: absolute;
            right: 48px;
            z-index: 9999;
            top: 2px;
            font-size: 17px;
            display: none;
            width: 0;
            height: 30px;
            padding: 4px 0;
            cursor: default;
            /*background: url("{!URLFOR($Resource.CalendarSprite)}") 4px -226px no-repeat;*/
            /*border: 1px solid #ccc;*/
        }

        #srchResetBtn .fa {
            display: block;
            font-size: 18px;
        }

        .error {
            font-size: 13px;
            color: #F00;
            display: none;
        }

        .leftPanel {    
            position: fixed;
            top: 61px;
            bottom: 0;
            left: 0;
            width: 250px;
            border-radius: 4px;
            border: 1px solid #bbb;
            background: #FFF;
            overflow: hidden;
        }

        .leftPanel.collapsed {
            width: 10px;
        }

        .leftPanel .directionBar {
            height: 100%;
            width: 10px;
            position: absolute;
            right: 0;
            top: 0;
            /*background: #A79DF9;*/
        }

        .directionBar .fa {
            color: #000;
            position: absolute;
            right: 3px;
        }

        .directionBar .topCaret {
            top: 5px;
        }

        .directionBar .bottomCaret {
            top: auto !important;
            bottom: 5px;
        }

        .filterPanel {
            position: absolute;
            top: 40px;
            bottom: 5px;
            left: 10px;
            width: 220px;
            border-radius: 3px;
            /*border-top: 1px solid #bbb;
            border-bottom: 1px solid #bbb;*/
            background: #FFF;
            overflow: auto;
        }

        .filterPanel .accOuterContainer {
           padding: 0;
        }

        /*
        .filterPanel .acc-header {
            margin-bottom: 0;*/
            /*margin-top: 15px;*/
           /* margin-top: 0;
            position: relative;
            background: #1797c0;
            color: #FFF;
            padding: 5px 9px;
            font-size: 14px;
            border-radius: 4px;
        }*/
        /*
        .filterPanel .acc-body + .acc-header {
            margin-top: 15px;
        }

        .filterPanel .acc-header label {
            margin: 2px 7px;
        }

        .filterPanel .acc-header input[type="checkbox"] {
            float: left;
            margin: 0 5px 0 -5px;
        }

        .filterPanel .acc-body {
            padding: 0 10px;
            border-radius: 4px;
            border: 1px solid #bbb;
            border-top: none;
        }

        .filterPanel .acc-body label {
            margin: 2px 5px 2px 20px;
            font-size: 13px;
            display: block;
        }

        .filterPanel .acc-body label input[type="checkbox"] {
            float: left;
            margin-left: -20px;
            margin-top: 2px;
        }

        .filterPanel .fa {
            position: absolute;
            right: 0;
            top: 8px;
            margin-right: 15px;
            font-size: 15px;
        }
        */

        .marginLeft15 {
            margin-left: 15px;
        }

        .popup {
            display: none;
            position: fixed;
            width: 500px;
            border: 1px solid #CAECEC;
            background: #FFF;
            padding: 7px;
            z-index: 9999;
            border-radius: 3px;
            /*top: 30%;
            left: 30%;*/
        }

        .popup .innerContiner { 
            border-radius: 3px;
        }

        .popup .popupRow {
            background: #66CCCC;
            padding: 7px;
        }

        .popupRow .row {
            line-height: 16px;
            font-size: 12px;
            font-weight: bold;
        }

        .popupRow .row span {
            font-weight: normal;
        }

        .popupRow  .title {
            margin-bottom: 3px;
        }

        .popup .popupRow + .popupRow {
            margin-top: 1px;
        }

        /****************** Media Queries *****************************/

        @media (min-width: 768px) and (max-width: 991px) {
            .sm-marginTop10 {
                margin-top: 10px;
            }

            .calendarPane {
                margin-top: 98px;
            }

            .leftPanel {
                top: 100px;
            }
        }

        @media (max-width: 767px) {
            .monthCell {
                font-size: 12px;
            }
        }

        @media (min-width: 768px) {
            #saveViewModal .modal-dialog,
            #confirmModal .modal-dialog {
                width: 300px;
            }
        }

        /******************** Bootstrap Overwrite ********************/
        .form-control {
            height: 30px;
            font-size: 13px;
        }

        /*** Left Panel Collapse and Accordion Style Start ***/

        .filterBtnPanel {
            padding: 5px 10px;
        }

        .filterBtnPanel .btn {
            height: 28px;
            /*width: 92px;*/
            padding: 0 5px;
            font-weight: bold;
        }

        .leftPanel ul li {
            margin-left: 20px;
            list-style: none;
            display: block;
        }
        .leftPanel .acc-header {
            border-radius: 4px;
            background: #1797c0;
            color: #FFF;
            padding: 5px 9px;
            display: block;
            cursor: pointer;
            position: relative;
            margin: 2px 0 0 0;
            padding: .5em .5em .5em .7em;
            min-height: 0;
            /* support: IE7; */
            font-size: 100%;
        }

        .leftPanel .acc-header input[type="checkbox"] {
            /*vertical-align: middle;*/
            position: absolute;
            left: 4px;
            top: 5px;
            margin-left: 4px;                        
        }

        .leftPanel .acc-header label {
            display: inline-block;
            padding-left: 17px;
            padding-right: 17px;
        }

        .leftPanel .acc-body {
            padding: 5px 15px;
            border-top: 0;
            overflow: auto;
            border: 1px solid #aaaaaa;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
            border-top: none;
            display: none;
        }

        .leftPanel .acc-body li input[type="checkbox"] {
            float: left;
            margin-left: -20px;
        }

        .leftPanel ul {
            margin-top: 0;
        }

        .leftPanel .accordion-header {
            background: #1797c0;
            color: #FFF;
            padding: 5px 9px;
        }

        .leftPanel .ui-accordion-content {
            /*background: #cfeef8;*/
            padding: 5px 15px;
        }

        .leftPanel .ui-accordion-content .ui-accordion-content {
            padding: 5px 10px;
        }

        .indicator {
            z-index: 9;
            position: absolute;
            height: 31px;
            width: 9px;
            right: 3px;
            background: url(/img/alohaSkin/sidebar_sprite.png) 0 0 no-repeat;
        }

        .pinBox {
            background: transparent;
            width: 5px;
            position: absolute;
            top: 5px;
            bottom: 5px;
            right: 5px;
        }

        .pinBox:hover {
            background: #e0f5fc;
        }

        .collapsed .indicator {
            background: url(/img/alohaSkin/sidebar_sprite.png) 0 -62px no-repeat;
            right: 0;
        }

        .collapsed .pinBox {
            right: 1px;
        }

        .chkboxLbl {
            margin-left: 15px;
            padding-right: 5px;
            display: block;
            margin-bottom: 5px;
        }

        .chkboxLbl input[type="checkbox"] {
            float: left;
            margin-left: -15px;
        }

        .leftPanel .fa {
            position: absolute;
            right: 0;
            top: 8px;
            margin-right: 15px;
            font-size: 15px;
        }

        #applyFilterBtn {
            background: url("../img/sync.png") 3px 5px no-repeat;
            width: 26px;
            height: 27px;
            margin: 0;
            /*vertical-align: bottom;*/
            border: 1px solid #b5b5b5;
        }

        #btnPanelFilter {
            margin: 3px 0;
            padding: 0 2px;
        }

        #myViewBtnGrp .dropdown-menu {
            width: 158px;
        }

        #myViewBtnGrp .dropdown-menu>li {
            position: relative;
            margin-left: 0px;
        }

        #myViewBtnGrp .dropdown-menu>li .deleteView {
            display: inline-block;
            border-left: 1px solid #ddd;
            font-size: 18px;
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding-left: 5px;
            height: 27px;
            width: 29px;
            padding-top: 5px;
            cursor: pointer;
            background: url("{!URLFOR($Resource.CalendarSprite)}") 3px -67px no-repeat white;
        }

        #myViewBtnGrp .dropdown-menu>li+li {
            border-top: 1px solid #ddd;
        }

        #myViewBtnGrp .dropdown-menu>li>a {
            padding: 3px 10px;
            cursor: default;
            overflow: hidden;
            width: 140px;
            text-overflow: ellipsis;
        }

        #btnMyView {
            width: 134px;
        }

        #btnSaveView {
            display: inline-block;
            background: url(/img/apexpages/editor/save.gif ) 2px 3px no-repeat;
            width: 26px;
            height: 28px;
            margin: 0;
            vertical-align: bottom;
            border: 1px solid #b5b5b5;
        }

        #myViewDropdown li.selected,
        #myViewDropdown li.selected a {
            background: lightgray !important;
        }

        #myViewDropdown li.default a{
            /*color: blue;*/
        }

        /*
        #myViewDropdown .fa-asterisk {
            left: 2px;
            font-size: 7px;                        
            display: none;
        }

        #myViewDropdown li.default .fa-asterisk {
            display: inline-block;
        }
        */

        #myViewDropdown .bar {
            background: #4E5275;
            display: inline-block;
            position: absolute;
            width: 5px;
            height: 100%;
            left: 0;
            top: 0;
        }

        #myViewDropdown li.default .bar {
            background: #C15D5D;
        }


        #myViewDropdown li.default .deleteView {
            display: none;
        }

        /*** Left Panel and Accordion Style End ***/

        /************ MASK STYLE START **************/
        #mask {
            position: fixed;
            background: rgba(0,0,0,.3);
            height: 100%;
            width: 100%;
            /* bottom: 0; */
            /* top: 0; */
            z-index: 9999999;
        }

        #loader {
            /* left: 50%; */
            top: 45%;
            text-align: center;
            font-size: 50px;
            color: #FFF;
            position: fixed;
            width: 100%;
        }

        #loader label {
            font-size: 25px;
            display: block;
        }

        #saveViewModal input {
            vertical-align: top;
        }

        .secNewViewName {
            margin-top: 15px;
            /*display: none;*/
        }

        .overwriteViewName {
            display: none;
        }

/**************** Warning Message etc Salesforce msg formatting section *******************************/
.warningM3 .msgIcon, .warningMedium {
    background-image: url(/img/msg_icons/warning24.png);
    background-position: 0 0;
    width: 24px;
    height: 24px;
}

.message {
    background-color: #ffc;
    border-style: solid;
    border-width: 1px;
    color: #000;
    padding: 6px 8px 6px 6px;
    margin: 4px 20px;
    border-radius: 4px;
    position: absolute;
    z-index: 9999;
    left: 0px;
    right: 3px;
    top: 3px;
}

.message .messageCell * {
    font-size: 12px;
    margin: 0;
}

.message .messageCell {
    padding-left: 10px;
}

.warningM6, .warningM4, .warningM3, .warningM2, .warningS1 {
    border-color: #f90;
}


/* Style for Group By */
.groupHeadRow {
    height: 25px;
    border-bottom: 1px solid #aaa;
    background: gray;
    text-align: center;
    color: #FFF;
    border-radius: 5px;
    position: relative;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

.groupContainer {
    display: none;
}

.groupHeadRow .fa {
    position: absolute;
    top: 4px;
    right: 15px;
    font-weight: bold;
    font-size: 17px;
}

.groupHeadRow .fa-caret-down {
    display: none;
}

.groupHeadRow.collapsed .fa-caret-down  {
    display: inline-block;
}

.groupHeadRow.collapsed .fa-caret-up {
    display: none;
}